107LMSGIProyectoLMGSI/examen/02/xml/libro.dtd

<!ELEMENT juegos (libro)>
<!ELEMENT libro (titulo,autores,anio)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autores (autor+)>
<!ELEMENT autor (nombre, apellido, nacionalidad)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT nacionalidad (#PCDATA)>
<!ELEMENT anio (#PCDATA)>
<!ATTLIST libro genero CDATA #IMPLIED>